{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  {% comment %} {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %} {% endcomment %}

  <form method="post">
      {% csrf_token %}
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          {{ form.websitename|as_crispy_field  }}
        </div>
        <div class="col-sm-6 my-auto">
          {{ form.url|as_crispy_field  }}
        </div>
      </div>
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          {{ form.websiteusername|as_crispy_field  }}
        </div>
      </div>
      <div class="row h-30 justify-content-center">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <input  name = "nums" type="checkbox" class = "inputs"/>
            <label class="form-check-label" for="exampleCheck1">Numbers</label>
          </li>
          <li class="list-group-item">
            <input name = "alphas" type="checkbox" class = "inputs" checked/>
            <label class="form-check-label" for="exampleCheck1">Alphabet</label>
          </li>
          <li class="list-group-item">
            <input name = "symbols" type="checkbox" class = "inputs"/>
            <label class="form-check-label" for="exampleCheck1">Symbols</label>
          </li>
          <li class="list-group-item">
            <input name = "names" type="checkbox" class = "inputs"/>
            <label class="form-check-label" for="exampleCheck1">Elements</label>
          </li>
        </ul>
        <div class="row h-30 justify-content-center">
          <div class="col-sm-12 my-auto">
            <input type="text" id="lengthValue" value="15" class="textinput textInput form-control"/>
          </div>
        </div>
      </div>
      <div class="row h-30 justify-content-center">
        <div class="col-sm-12 my-auto">
          <input type="text" id="websitepassword" name="websitepassword" class="textinput textInput form-control" readonly/>
        </div>
      </div>
      <div class="row h-30 justify-content-center">
        <div class="col-sm-3 my-auto">
          <a id="trigger" class="btn btn-primary" style="color: white">generate</a>
        </div>
      </div>
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          Your Password*
        </div>
      </div>
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          <input type="password" name="given_user_password" class="textinput textInput form-control"/>
        </div>
      </div>
      <div class="row h-30 justify-content-center">
        <button type="submit" class="btn btn-success">Save person</button>
      </div>
  </form>
    {% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}
    <script>
      const [numEl, alphasEl, symbolsEl, namesEl] = document.getElementsByClassName("inputs")
      const lengthEl = document.getElementById("lengthValue")
      const outputEl = document.getElementById("websitepassword")
      const triggerEl = document.getElementById("trigger")

      let names = fetch("https://random-word-api.herokuapp.com//word?number=100")
          .then(res => res.json())
          .then(e => e)

      names.then(a => names = a);

      const randomItem = items => items[Math.floor(Math.random() * items.length)]
      const randomLetter = () => randomItem("ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz".split(""))
      const randomNum = () => randomItem("1234567890".split(""))
      const randomName = () => randomItem(names)
      const randomSpecial = () => randomItem("!@#$%^&*+=_~?".split(""))

      const generateChar = () => {
          const type = randomItem([numEl, alphasEl, symbolsEl, namesEl].filter(a => a.checked).map(a => a.name))
          if (type == "alphas") return randomLetter()
          else if (type == "nums") return randomNum()
          else if (type == "symbols") return randomSpecial()
          else if (type == "names") return randomName()
      }
      console.log(outputEl)

      const generatePass = async () => {
          outputEl.value = [...Array(parseInt(lengthEl.value)).keys()].map(generateChar).reduce((a, b) => a+b).substring(0, lengthEl.value)
      }

      triggerEl.onclick = generatePass
      generatePass()
  </script>
{% endblock %}