{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  {% comment %} {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %} {% endcomment %}

  <form method="post">
      {% csrf_token %}
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          Recipient's username*
        </div>
      </div>
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          <input type="text" name="receiver" class="textinput textInput form-control"/>
        </div>
      </div>
      <br/>
      <div class="row h-30 justify-content-center">
      </div>
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          Your Password*
        </div>
      </div>
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          <input type="password" name="given_user_password" class="textinput textInput form-control"/>
        </div>
      </div>
      <br/>
      <div class="row h-30 justify-content-center">
        <button type="submit" class="btn btn-success">Send</button>
      </div>
  </form>
{% endblock %}