{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %} 
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if incorrect_password %}
    <div class="alert alert-danger">
      <strong>Your password is incorrect</strong>
    </div>
  {% endif %}

  {% if no_user_found %}
    <div class="alert alert-danger">
      <strong>No user with the given username was found</strong>
    </div>
  {% endif %}

  <form method="post">
      {% csrf_token %}
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          Recipient's username*
        </div>
      </div>
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          <input type="text" name="receiver" class="textinput textInput form-control"/>
        </div>
      </div>
      <br/>
      <div class="row h-30 justify-content-center">
      </div>
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          Your Password*
        </div>
      </div>
      <div class="row h-30 justify-content-center">
        <div class="col-sm-6 my-auto">
          <input type="password" name="given_user_password" class="textinput textInput form-control"/>
        </div>
      </div>
      <br/>
      <div class="row h-30 justify-content-center">
        <button type="submit" class="btn btn-success">Send</button>
      </div>
  </form>
{% endblock %}