{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title1 %}Passwords{%endblock%}
{% block title2 %}Passwords{%endblock%}

{% block content %}

<div class="row">
  <div class="row h-30 justify-content-end">
    <div class="col">
      {% if not show_password %}
        {% if errors %}
          <div class="alert alert-danger">
            <strong>Incorrect Password</strong>
          </div>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div style="display: inline">
            Your password
            <input type="password" name="given_user_password" class="textinput textInput form-control"/>
          </div>
          <input type="submit" class="btn btn-danger" value="Show Passwords"/>
        </form>
      {% endif %}
      <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search" aria-label="Search">
      <br/>
    </div>
  </div>
</div>
<div class="row">
  <table class="table table-hover" id="passTable">
      <thead>
        <tr>
          <th scope="col">Website</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
          {% for password in passwords %}
              <tr>
                <td><a href="{{password.url}}">{{password.websitename}}</a></td>
                <td>{{password.websiteusername}}</td>
                <td>{{password.password}}</td>
                <td><a href="/message/{{password.id}}" class="btn btn-success btn-sm">Send</a></td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
<div>
<script>
  if (window.history.replaceState) window.history.replaceState(null, null, window.location.href)
  const input = document.getElementById("search")
  input.oninput = _ => {
    let input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("search");
    filter = input.value.toUpperCase();
    table = document.getElementById("passTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
</script>
{% endblock %}